.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* login css */
.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #b9c5f3ac;
}
.sub-main-Login {
  display: flex;
  justify-content: center;
  height: 540px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgba(207, 207, 207, 0.396);
  padding-top: 30px;
  border-radius: 60px; 
  background-color: rgba(255, 255, 255, 0.77);
}
.imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

 input{
    width: 500px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888; 
    border: none;
    outline: none;
    background-color: #fff; 
} 

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

 .name{
    padding-left: 0px;
    font-size: 20px;
} 
.second-input{
    padding-top: 20px;
}

button{
    width: 470px;
    height: 50px;
    border-radius: 60px;
    background-color: #b103fc;
    color: white;
    font-size: 25px;
    border: none;
}
.login-button{
    padding-top: 25px;
}


/* signup */


.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 80px;
  padding-bottom: 90px;
  background:url("https://c.tenor.com/gYVMrt3BdWIAAAAM/fxtm-invest-investment-traders.gif");
  background-size: cover;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: auto;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgba(207, 207, 207, 0.293);
  padding-top: 30px;
  border-radius: 60px; 
  background-color: rgba(255, 255, 255, 0.81);
}
.imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.name{
    padding-left: 20px;
    font-size: 20px;
    width: 400px;
    height: 50px;
    border-radius: 40px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}
.second-input{
    padding-top: 20px;
}

button{
    width: 390px;
    height: 50px;
    border-radius: 60px;
    background-color: #a509f4;
    color: white;
    font-size: 20px;
    border: none;
}
.login-button{
    padding-top: 25px;
}
/* 
.link{
    font-size: 25px;
    font-weight: 400;
} */
 /*startup*/
 .bgimg{
  background: url("https://www.rvcj.com/wp-content/uploads/2019/03/gif-startup-rocket.gif");
  background-size: cover;
  background-color: #b9c5f3ac;
 }